body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #b87c7c; /* Salmon? I think? */
    color: #000000;
}

h1 {
    color: #000000;
}

p {
    line-height: 1;
}